<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Header Parser</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <header>
        <h1>Request Header Parser</h1>
        <hr>
    </header>
    <section>
        <p>Example use : [base url]/api/whoami</p>
        <p>Example Output : {"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",
            "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</p>
    </section>
    <footer>
        <hr>
        <h3>Made by Roche Stapelberg for FreeCodeCamp Back End Development and APIs certificate</h3>
    </footer>
</body>
</html>